version: "1.0"

services:
  postgres:
    image: postgres
    container_name: finance-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - finance_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  finance_data:
